[Unit]
Description=Aucboard Boot Service
After=sysinit.target local-fs.target i2c-dev.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/aucboard
ExecStart=/opt/aucboard/auc_venv/bin/python /opt/aucboard/boot.py
RemainAfterExit=yes
TimeoutStartSec=5s

[Install]
WantedBy=sysinit.target
