[Unit]
Description=Aucboard Boot Service
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target basic.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/aucboard
ExecStart=/opt/aucboard/auc_venv/bin/python /opt/aucboard/boot.py
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target